.container {
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    flex-direction: column;
}

.title {
    width: 200px;
    text-align: center;
    height: 100px;/* Set the text color to red. */
    color: #ff0000;
}

.btn {
    width: 200px;
    height: 50px;
}
